{% if data['dateTwo']%}
<h3 class="govuk-heading-s">

    Pay period from {{data['dateTwoStart']}} to {{data['dateTwo']}} 2020
</h3>
<p> Gross furlough amount
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOneFurloughSalary'] %}
            £{{data['payPeriodOneFurloughSalary']}}.00
        {% else %}
            £851.00
        {% endif %}
     </span>
</p>
<p>Employer NI contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOneNic'] %}
            £{{data['payPeriodOneNic']}}.11
        {% else %}
            £70.11
        {% endif %}
    </span>
</p>
<p> Employer minimum pension contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOnePension'] %}
            £{{data['payPeriodOnePension']}}.11
        {% else %}
            £18.19
        {% endif %}
    </span>
</p>
{% endif %}
{% if data['dateThree']%}
<h3 class="govuk-heading-s">
    Pay period from {{data['dateThreeStart']}} to {{data['dateThree']}} 2020
</h3>
<p> Gross furlough amount
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoFurloughSalary'] %}
            £{{data['payPeriodTwoFurloughSalary']}}.00
        {% else %}
            £301.00
        {% endif %}
    </span>
</p>
<p>Employer NI contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoNic'] %}
            £{{data['payPeriodTwoNic']}}.11
        {% else %}
            £50.11
        {% endif %}
    </span>
</p>
<p> Employer minimum pension contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoPension'] %}
            £{{data['payPeriodTwoPension']}}.11
        {% else %}
            £9.19
        {% endif %}
    </span>
</p>
{% endif %}
{% if data['dateFour']%}
<h3 class="govuk-heading-s">
    Pay period from {{data['dateFourStart']}} to {{data['dateFour']}} 2020
</h3>
<p> Gross furlough amount
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoFurloughSalary'] %}
            £{{data['payPeriodTwoFurloughSalary']}}.00
        {% else %}
            £301.00
        {% endif %}
    </span>
</p>
<p>Employer NI contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoNic'] %}
            £{{data['payPeriodTwoNic']}}.11
        {% else %}
            £50.11
        {% endif %}
    </span>
</p>
<p> Employer minimum pension contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodTwoPension'] %}
            £{{data['payPeriodTwoPension']}}.11
        {% else %}
            £9.19
        {% endif %}
    </span>
</p>
{% endif %}
{% if data['dateFive']%}
<h3 class="govuk-heading-s">

    Pay period from {{data['dateFiveStart']}} to {{data['dateFive']}} 2020
</h3>
<p> Gross furlough amount
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOneFurloughSalary'] %}
            £{{data['payPeriodOneFurloughSalary']}}.00
        {% else %}
            £851.00
        {% endif %}
     </span>
</p>
<p>Employer NI contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOneNic'] %}
            £{{data['payPeriodOneNic']}}.11
        {% else %}
            £70.11
        {% endif %}
    </span>
</p>
<p> Employer minimum pension contributions
    <br>
    <span class="govuk-!-font-weight-bold">
         {% if data['payPeriodOnePension'] %}
            £{{data['payPeriodOnePension']}}.11
        {% else %}
            £18.19
        {% endif %}
    </span>
</p>
{% endif %}



