<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                What is a claim period?
                 </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-!-margin-top-1">
            You make a claim under the Job Retention Scheme for a period during which one or more of your employees are furloughed. This is the claim period.</p>
        <p>Include all affected employees in one claim, including employees who start or end furlough on different dates within the claim period.</p>
        <p>You cannot make more than one claim covering the same claim period.</p>


        <h2 class="govuk-heading-m">Claim period start date</h2>


        <p>For the first claim, this is the date the first employee was furloughed (other employees may be furloughed at a later date). The earliest the start date can be is 1 March 2020, which is the date the Job Retention Scheme started.</p>
        <p>If employees are still furloughed after the claim period ends, make another claim later to cover the ongoing furlough period. Claim periods cannot overlap.</p>

        <h2 class="govuk-heading-m">Claim period end date</h2>

        <p> This should be a date that aligns with a payroll run. It can be any date up to 14 days from today’s date. Note that it’s not the same as the furlough end date - furlough may be ongoing at the end of the claim period.

        </p>
    </div>
</details>

