<p>Take the pay in pay period:</p>
<ol class="govuk-list govuk-list--number">
    <li>Start with {% if data['salaryAmount'] %} £{{data['salaryAmount']}} {% else %} £345.81 {% endif %} (from pay period).</li>
    <li>Divide by {% if data['payFrequencyTime'] === 1 %}30{% else %}{{data['payFrequencyTime']}}{% endif %} (days in pay period).</li>
    <li>Multiply by {% if data['payFrequencyTime'] === 1 %}30{% else %}{{data['payFrequencyTime']}}{% endif %} (furlough days).</li>
</ol>
<p>Total pay based on furlough days = {% if data['salaryAmount'] %} £{{data['salaryAmount']}} {% else %} £345.81 {% endif %} </p>
{% if data['parttime'] === 'yes' %}
    <p>Then:</p>
    <ol class="govuk-list govuk-list--number">
        <li>Start with {% if data['salaryAmount'] %} £{{data['salaryAmount']}} {% else %} £325.80 {% endif %} (total pay from same dates last year).</li>
        <li>Divide by {% if data['normalHours'] %}{{data['normalHours']}}{% else %} 37{% endif %} (usual hours).</li>
        <li>Multiply by {% if data['furloughHours'] %}{{data['furloughHours']}}}{% else %} 20{% endif %}(furlough hours).</li>
    </ol>
    <p>Total pay based on hours worked in this pay period = {% if data['totalMethod'] %} £{{data['totalMethod']}} {% else %} £345.81 {% endif %}</p>
{% endif %}
<h3 class="govuk-heading-s">Furlough grant</h3>
<ol class="govuk-list govuk-list--number">
    <li>Take {% if data['totalMethod'] %} £{{data['totalMethod']}} {% else %} £345.81{% endif %} (pay based on furlough days{% if data['parttime'] === 'yes' %} and furlough hours{% endif %}).</li>
    <li>Multiply by {% if data.phaseTwoGenerosityVal %}{{data['phaseTwoGenerosityVal']}}{% else %}80%{% endif %}{% if data.phaseTwoGenerosityMonth %} ({{data['phaseTwoGenerosityMonth']}} rate){% endif %}.</li>
</ol>