<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                What is a discretionary payment?
                 </span>
    </summary>
    <div class="govuk-details__text">

        <ul class="govuk-list  govuk-list--bullet">
            <li>payments made at the discretion of the employer or a client - where the employer or client was under no contractual obligation to pay, including:
                <ul class="govuk-list--bullet">
                    <li>any tips, including those distributed through troncs</li>
                    <li>discretionary bonuses</li>
                    <li>discretionary commission payments</li>
                </ul>
            </li>
            <li>non-cash payments</li>
            <li>non-monetary benefits like benefits in kind (such as a company car) and salary sacrifice schemes (including pension contributions) that reduce an employees’ taxable pay</li>
        </ul>


    </div>
</details>