<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Examples of additional payments
                 </span>
    </summary>
    <div class="govuk-details__text">
        <p>Additional payments include:</p>
        <ul class="govuk-list  govuk-list--bullet">
            <li>discretionary payments you’re not contractually obliged to pay, including:

                <ul class="govuk-list--bullet">
                    <li>tips</li>
                    <li>discretionary bonuses</li>
                    <li>discretionary commission payments</li>
                </ul>
            </li>
            <li>non-cash payments</li>
            <li>non-monetary benefits like benefits in kind (such as a company car) and salary sacrifice schemes that reduce taxable pay</li>
        </ul>
    </div>
</details>