<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                What should be included in this amount?
                 </span>
    </summary>
    <div class="govuk-details__text">

        <p>Include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>regular wages you pay to this employee</li>
            <li>non-discretionary overtime</li>
            <li>non-discretionary fees</li>
            <li>non-discretionary commission payments</li>
            <li>piece rate payments</li>
        </ul>
        <p>Do not include:</p>
        <ul class="govuk-list  govuk-list--bullet">
            <li>discretionary payments you’re not contractually obliged to pay, including:
                <ul class="govuk-list--bullet">
                    <li>tips</li>
                    <li>discretionary bonuses</li>
                    <li>discretionary commission payments</li>
                </ul>
            </li>
            <li>non-cash payments </li>
            <li>non-monetary benefits like benefits in kind (such as a company car) and salary sacrifice schemes that reduce taxable pay</li>
        </ul>


    </div>
</details>