
<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                What is a pay period?
                 </span>
    </summary>
    <p>A 'pay period' is the period of time that the employee is paid for, such as weekly or monthly. When we ask for the end date of a pay period, it's the last day they were paid for.  It's different from the 'pay date', which is the date the employee actually gets their pay.</p>
</details>