
<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                What's the difference between a pay date and a pay period?
                 </span>
    </summary>
    <div class="govuk-details__text">
    <p>A 'pay date' is the date the employee actually gets their pay. It may not be the same as the end of the 'pay period'.  For example, the pay period might be 1 February to 28 February, but the employee gets paid on 27 February.</p>
    <p>A 'pay period' is the period of time that the employee is paid for, such as weekly or monthly. </p>
    </div>
</details>