
<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Work out your employee’s usual hours
                 </span>
    </summary>
    <div class="govuk-details__text">

        <p>Employers should identify the hours the employee worked using pay records, time sheets and other records which show time worked. If these aren’t available then use other records, such as rotas or work diaries. If these records are not available, employers may use the pay rate to work back from gross pay.</p>
        <p >To work out the usual hours for a pay period or partial pay period based on the corresponding calendar period in the tax year 2019 to 2020:</p>
        <ol class="govuk-list govuk-list--number">

                <li>
                    Start with the number of hours actually worked (or on paid annual leave or flexi-leave) in the tax year 2019 to 2020 before the employee was furloughed, or the end of the tax year if earlier.
                </li>
                <li>
                    Divide by the number of calendar days the employee was employed by you in the tax year 2019 to 2020, up until the day before they were furloughed, or the end of the tax year if earlier.
                </li>
                <li>
                    Multiply by the number of calendar days in the pay period (or partial pay period) you are claiming for.
                </li>
                <li>
                    Round up or down if the result isn’t a whole number.
                </li>

        </ol>
        <p>If an employee with fixed hours was on annual leave, off work sick or on family related statutory leave at any time during the last pay period ending on or before 19 March, the usual hours should be calculated as if the employee had not taken that leave.</p>
        <p>Find <a href="https://www.gov.uk/government/publications/find-examples-to-help-you-work-out-80-of-your-employees-wages/examples-of-how-to-work-out-80-of-your-employees-wages-national-insurance-contributions-and-pension-contributions#variable-hours" class="govuk-link" target="_blank">examples of how to work out the average number of hours worked in the tax year 2019 to 2020 for an employee who works variable hours.</a></p>

    </div>
</details>