
<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Work out your employee’s usual hours
                 </span>
    </summary>
    <div class="govuk-details__text">
        <p>We use the hours they worked in the corresponding calendar period last year. Work this out as follows.</p>

        <ol class="govuk-list govuk-list--number">
            <li>
                Find all the pay periods last year that correspond to at least one calendar day in the pay period (or partial pay period) you’re claiming for.
            </li>
            <li>
                If the pay period (or partial pay period) you’re claiming for starts and ends on the same calendar days as a pay period identified in Step 1, use the number of hours this employee worked in that pay period.
            </li>
            <li>
                If the pay period (or partial pay period) you’re claiming for does not start and end on the same calendar days as a pay period identified in Step 1, add together a proportion of the hours worked in each of the pay periods identified.
            </li>
        </ol>
        <p>You can find the hours this employee worked from pay records, time sheets, rotas or work diaries. If you don’t have these, use their pay rate and gross pay to work it out. </p>
        <p>If this employee was sick, on annual leave, or on family-related statutory leave during the last pay period ending before 20 March, work out their usual hours as if they had not taken that leave.</p>
        <p>Find <a href="https://www.gov.uk/government/publications/find-examples-to-help-you-work-out-80-of-your-employees-wages/examples-of-how-to-work-out-80-of-your-employees-wages-national-insurance-contributions-and-pension-contributions" class="govuk-link" target="_blank"> examples of how to calculate your employees' wages</a></p>
    </div>
</details>