
<details class="govuk-details">
    <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Work out your employee’s usual hours
                 </span>
    </summary>
    <div class="govuk-details__text">
        <p>Employers should identify the hours the employee worked using pay records, time sheets and other records which show time worked. If these aren’t available then use other records, such as rotas or work diaries. If these records are not available, employers may use the pay rate to work back from gross pay.</p>
        <p >To work out the usual hours for a pay period or partial pay period based on the corresponding calendar period in the tax year 2019 to 2020:</p>
        <ol class="govuk-list govuk-list--number">
            <li>
                Identify the pay periods in the 2019 to 2020 tax year that correspond to at least one calendar day in the pay period (or partial pay period) you are claiming for.
            </li>
            <li>
                If the pay period (or partial pay period) you are claiming for starts and ends on the same calendar days as the identified pay period in the tax year 2019 to 2020 - use the number of hours they actually worked in that pay period.
            </li>
            <li>
                If the pay period (or partial pay period) you are claiming for does not start and end on the same calendar days as the identified pay periods in the tax year 2019 to 2020 – you’ll need to add together a proportion of the hours worked in each of the pay periods you’ve identified.
            </li>
        </ol>
        <p>If an employee with fixed hours was on annual leave, off work sick or on family related statutory leave at any time during the last pay period ending on or before 19 March, the usual hours should be calculated as if the employee had not taken that leave.</p>
        <p>Find an <a href="https://www.gov.uk/government/publications/find-examples-to-help-you-work-out-80-of-your-employees-wages/examples-of-how-to-work-out-80-of-your-employees-wages-national-insurance-contributions-and-pension-contributions#workout-pay-period" class="govuk-link" target="_blank">example of how to work out the usual hours worked in the same period last year for an employee who works variable hours and the pay period (or partial pay period) being claimed for starts and ends on the same calendar days as the identified pay period.</a></p>
    </div>
</details>