{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            Gross furlough amount breakdown
        </h1>

        <!--<p>These are amounts you will be able to claim for this employee in each pay period. </p>-->
        <table class="govuk-table review-authorisations govuk-!-margin-bottom-7">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

                <th class="govuk-table__header">
                    Pay period ending
                </th>
                <th class="govuk-table__header">
                    <span class="govuk-!-font-weight-bold">Gross furlough amount</span>
                </th>

            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{data['payPeriodTwoTitle'] | default('30 March')}} 2020</td>
                <td class="govuk-table__cell">
                    {% if data['payPeriodOneFurloughSalary'] %} £{{data['payPeriodOneFurloughSalary']}}.00 {% else %} £851.00 {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{data['payPeriodThreeTitle'] | default('30 April')}} 2020</td>
                <td class="govuk-table__cell">
                    {% if data['payPeriodTwoFurloughSalary'] %} £{{data['payPeriodTwoFurloughSalary']}}.00 {% else %} £301.00 {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row" style="border-top: 5px solid #b1b4b6">
                <td class="govuk-table__cell" style="border-bottom:0"><span class="govuk-!-font-weight-bold">Total</span></td>
                <td class="govuk-table__cell" style="border-bottom:0">
                    <span class="govuk-!-font-weight-bold">{% if data['totalFurlough'] %} £{{data['totalFurlough']}}.00 {% else %} £1152.00 {% endif %}</span>
                </td>
            </tr>
            </tbody>
        </table>

        <form method="post" action="route-topup-question">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-1">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                           Has this employee been paid more than these amounts or do you intend to top up pay in any of the pay periods?
                        </h2>
                    </legend>



                    <p>If you choose to top up the employee’s pay to 100% during the period of furlough, the employer National Insurance contributions will be apportioned between the pay funded by the grant and the pay funded by the you. </p>

                    <div class="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="anotherDate-yes" name="topUp" type="radio" value="yes"> <label class="govuk-label govuk-radios__label" for="anotherDate-yes"> Yes </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="anotherDate-no" name="topUp" type="radio" value="no"> <label class="govuk-label govuk-radios__label" for="anotherDate-no"> No </label>
                        </div>

                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button">
                Continue
            </button>

        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
