{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            When did this employee get additional payments?

        </h1>


        <p><span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span></p>

        <form method="post" action="route-discretionary-period-select">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    {% if data['payFrequency'] === 'fortnightly'  %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['weekOne']%}{{data['weekOne']}}{% else %}30 April{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['weekTwo']%}{{data['weekTwo']}}{% else %}13 May{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['weekThree']%}{{data['weekThree']}}{% else %}27 May{% endif %} 2020
                            </label>
                        </div>
                    </div>
                    {% elseif data['payFrequency'] === 'weekly'  %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['weekOne']%}{{data['weekOne']}}{% else %}30 April{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['weekTwo']%}{{data['weekTwo']}}{% else %}6 May{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['weekThree']%}{{data['weekThree']}}{% else %}13 May{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['weekFour']%}{{data['weekFour']}}{% else %}20 May{% endif %} 2020
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['pastOneMonthTitle']%}{{data['payPeriodOneStartDay']}} {{data['pastOneMonthTitle']}}{% else %}30 April{% endif %} 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['pastTwoMonthTitle']%}{{data['payPeriodTwoStartDay']}} {{data['pastTwoMonthTitle']}}{% else %}30 May{% endif %} 2020
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
            </div>

            <button type="submit" class="govuk-button">
                Continue
            </button>

        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
