{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="route-vary-gross-salary" method="post">

            <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        What did the employee get paid in total from 6 April 2019 to {% if data['furloughStartTitle'] %}{{data['furloughStartTitle']}} 2020{% else %}12 April 2020{% endif %}?
                    </h1>
                </legend>

                <span id="nicCategory-hint" class="govuk-hint">
<p>This is the total amount before deductions. </p>
                    <p>Do not include discretionary payments, non-cash payments or non-monetary benefits.</p>


                  </span>
                {% include "includes/include-in-salary.html" %}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-visually-hidden">
                    What is the employee's total pay since 6 April 2019?
                </legend>

                <!--<span id="width-10-hint" class="govuk-hint">
          hint
        </span>-->
                <div class="govuk-currency-input__inner govuk-form-group">
                    <span class="govuk-currency-input__inner__unit">£</span>
                    {% if data['varyMoreThan'] %}
                    <input type="text" class="govuk-currency-input__inner__input govuk-input govuk-input--width-10" id="varySalary" value="" name="varySalary">
                    {% else %}
                    <input type="text" class="govuk-currency-input__inner__input govuk-input govuk-input--width-10" id="variableGrossSalary" value=""  name="variableGrossSalary" >
                    {% endif %}



                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </fieldset>
        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
