{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <h1 class="govuk-panel__body govuk-!-margin-bottom-4 govuk-!-margin-top-0 govuk-!-font-size-27">
                What you can claim for this employee
            </h1>
            <div class="govuk-panel__title">
                {% if data['totalFurlough'] %} £{{data['totalFurlough']}}.00 {% else %} £1105.81 {% endif %} <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4" style="color: white">Amount paid to this furloughed employee
                </p>
                {% if data['totalFurlough'] %} £{{data['totalNic']}}.22 {% else %} £91.49 {% endif %}
                <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4" style="color: white">Employer National Insurance contributions</p>
                {% if data['totalFurlough'] %} £{{data['totalPension']}}.38 {% else %} £33.17 {% endif %}
                <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color: white">Employer minimum pension contributions</p>
            </div>
        </div>



        <p><span class="govuk-!-font-weight-bold">Calculated on:</span> 14 May 2020 (Calculator Version v2.0) </p>
        <p>The results of the calculation rely on the accuracy of the information you entered, for which you are responsible. You cannot claim for more money than you are going to pay out under the scheme.</p>

        <h2 class="govuk-heading-m ">How these figures were calculated </h2>
        <p>You can view detailed calculation showing the furlough amounts, employer National Insurance and pension contributions for each pay period in your claim.</p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                    Detailed breakdown of calculations
                 </span>
            </summary>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Furlough grant</h2>



            <h3 class="govuk-heading-s">For pay period 1 March to 31 March 2020</h3>
               

                    <p>Choose the higher of either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>80% of <span class="govuk-!-font-weight-bold">£2400.30</span> (same month’s wages from the previous year)</li>
                        <li>80% of <span class="govuk-!-font-weight-bold">£2380.10</span> (average monthly wages for the 2019 to 2020 tax year)</li>
                    </ul>
                    <p>which is 80% of £2400.30 = <span class="govuk-!-font-weight-bold">£1920.24</span></p>
                    <p>Then:</p>
                    <ol class="govuk-list govuk-list--number">

                        <li>Divide by <span class="govuk-!-font-weight-bold">31</span> days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">11</span> furlough days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">80%</span></li>
                    </ol>

            <p>Total furlough grant for pay period = <span class="govuk-!-font-weight-bold">£681.38</span></p>
            <hr>

            <h3 class="govuk-heading-s">For pay period 1 April to 30 April 2020</h3>


                    <p>Choose the higher of either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>80% of <span class="govuk-!-font-weight-bold">£2439.30</span> (same month’s wages from the previous year)</li>
                        <li>80% of <span class="govuk-!-font-weight-bold">£2380.10</span> (average monthly wages for the 2019 to 2020 tax year)</li>
                    </ul>
                    <p>which is 80% of £2439.30 = <span class="govuk-!-font-weight-bold">£1951.44</span></p>
                    <p>Then:</p>
                    <ol class="govuk-list govuk-list--number">

                        <li>Divide by <span class="govuk-!-font-weight-bold">30</span> days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">30</span> furlough days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">80%</span></li>
                    </ol>

            <p>Total furlough grant for pay period = <span class="govuk-!-font-weight-bold">£1951.44</span></p>
            <hr>
            <h3 class="govuk-heading-s">Total furlough grant for claim</h3>
            <p class="govuk-!-margin-bottom-8">£681.38 + £1951.44 = <span class="govuk-!-font-weight-bold">£2632.82</span></p>





        <h2 class="govuk-heading-m">Employer National Insurance contributions</h2>


            <h3 class="govuk-heading-s">For pay period 1 March to 31 March 2020</h3>

                    <ol class="govuk-list govuk-list--number">
                        <li>Employer-funded pay <span class="govuk-!-font-weight-bold">£1548.58</span></li>
                        <li>Add <span class="govuk-!-font-weight-bold">£400</span> employer top up </li>
                        <li>Add <span class="govuk-!-font-weight-bold">£320</span> additional pay </li>
                        <li>Add <span class="govuk-!-font-weight-bold">£681.38</span> furlough grant </li>
                        <li>Deduct <span class="govuk-!-font-weight-bold">£719</span> <abbr title="National Insurance contributions">NICs</abbr> threshold</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">13.8%</span></li>
                        <li>Divide by <span class="govuk-!-font-weight-bold">31</span> days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">11</span> furlough days in the pay period</li>
                        <li>Divide by <span class="govuk-!-font-weight-bold">£2400.30</span> total pay for furlough days in the pay period</li>
                        <li>Multiply by <span class="govuk-!-font-weight-bold">£681.38</span> furlough grant</li>
                    </ol>
            <p>Total NI grant for pay period = <span class="govuk-!-font-weight-bold">£45.50</span></p>
            <hr>
            <h3 class="govuk-heading-s">For pay period 1 April to 30 April 2020</h3>

            <ol class="govuk-list govuk-list--number">
                <li>Employer-funded pay <span class="govuk-!-font-weight-bold">£1548.58</span></li>
                <li>Add <span class="govuk-!-font-weight-bold">£681.38</span> furlough grant </li>
                <li>Deduct <span class="govuk-!-font-weight-bold">£719</span> <abbr title="National Insurance contributions">NICs</abbr> threshold</li>
                <li>Multiply by <span class="govuk-!-font-weight-bold">13.8%</span></li>
                <li>Divide by <span class="govuk-!-font-weight-bold">30</span> days in the pay period</li>
                <li>Multiply by <span class="govuk-!-font-weight-bold">30</span> furlough days in the pay period</li>
                <li>Divide by <span class="govuk-!-font-weight-bold">£2400.30</span> total pay for furlough days in the pay period</li>
                <li>Multiply by <span class="govuk-!-font-weight-bold">£681.38</span> furlough grant</li>
            </ol>
            <p>Total NI grant for pay period = <span class="govuk-!-font-weight-bold">£45.50</span></p>
            <hr>

            <h3 class="govuk-heading-s">Total NI grant for claim</h3>
            <p class="govuk-!-margin-bottom-8">£45.50 + £45.50 = <span class="govuk-!-font-weight-bold">£91.00</span></p>

           

            <h2 class="govuk-heading-m">Employer minimum pension contributions</h2>
            <h3 class="govuk-heading-s">For pay period 1 March to 31 March 2020</h3>
            <ol class="govuk-list govuk-list--number">
                <li>Furlough grant <span class="govuk-!-font-weight-bold">£2632.82</span></li>
                <li>Deduct <span class="govuk-!-font-weight-bold">£520</span>  (this is the Lower Level of Qualifying Earnings) </li>
                <li>Multiply by <span class="govuk-!-font-weight-bold">3%</span></li>

            </ol>
            <p>Total pension grant for pay period = <span class="govuk-!-font-weight-bold">£45.50</span></p>
            <hr>

            <h3 class="govuk-heading-s">For pay period 1 April to 30 April 2020</h3>
            <ol class="govuk-list govuk-list--number">
                <li>Furlough grant <span class="govuk-!-font-weight-bold">£681.38</span></li>
                <li>Deduct <span class="govuk-!-font-weight-bold">£520</span>  (this is the Lower Level of Qualifying Earnings) </li>
                <li>Multiply by <span class="govuk-!-font-weight-bold">3%</span></li>

            </ol>
            <p>Total pension grant for pay period = <span class="govuk-!-font-weight-bold">£45.50</span></p>
            <hr>
            <h3 class="govuk-heading-s">Total pension grant for claim</h3>
            <p>£45.50 + £45.50 = <span class="govuk-!-font-weight-bold">£91.00</span></p>


        </details>

<!--
        <h2 class="govuk-heading-m">
            Breakdown by pay period
        </h2>
        <p>You can view a table showing the furlough amounts, employer National Insurance and pension contributions for each pay period in your claim.</p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                    Figures for each pay period during the claim
                 </span>
            </summary>
            <div class="govuk-details__text">
                {% if data['payFrequency'] === 'monthly'  %}
                {% include "includes/break-down-month.html" %}
                {% else %}
                    {% include "includes/break-down-week.html" %}

                {% endif %}
            </div>
        </details>-->

        <h2 class="govuk-heading-m">
            Next steps
        </h2>

        <ul class="govuk-list govuk-list--number">

            <li>Make a calculation for any other employee furloughed for all or part of this claim period ({% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 April{% endif %} to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 May{% endif %}). <span class="govuk-!-font-weight-bold">Make a note of each set of figures.</span>
            </li>
            <li>Work out the total amounts to claim for:<br>
                <ul class="govuk-list--list">
                    <li>furlough amount</li>
                    <li>employer National Insurance</li>
                    <li>employer minimum pension contributions</li>

                </ul>
            </li>
            <li>Adjust the total amount of employer National Insurance contributions by subtracting any Employment Allowance used in each pay period.<br> <a href="https://www.gov.uk/guidance/work-out-80-of-your-employees-wages-to-claim-through-the-coronavirus-job-retention-scheme#work-out-how-much-you-can-claim-for-employer-national-insurance-contributions#work-out-how-much-you-can-claim-for-employer-national-insurance-contributions-nics" target="_blank">Work out how much you
                can claim in total for employer National Insurance contributions (opens in a new window or tab)</a></li>
            <li>Make a claim using <a href="https://www.gov.uk/guidance/claim-for-wages-through-the-coronavirus-job-retention-scheme" target="_blank">Job Retention Scheme online claim service (opens in a new window or tab)</a>.</li>

        </ul>

        <br>


        <form class="form" method="post" action="another-calculation">
            <button class="govuk-button" data-module="govuk-button">
                Start another calculation
            </button>
        </form>
        <p>
            <a href="https://www.tax.service.gov.uk/ask-hmrc/webchat/job-retention-scheme" target="_blank">Webchat help (opens in a new window or tab)</a>
        </p>
    </div>
</div>

{% endblock %}