{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      <!--Does this employee get any additional payments?-->
      Pay periods
    </h1>


    <p>We can not calculate furlough pay if this employee has irregular pay periods. </p>
    <p>We are going to use these pay periods that cover this claim in our calculations.</p>


    <ul class="govuk-list govuk-list--bullet">
      {% if data['payFrequency'] === 'weekly' %}

      <li>Ending: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020</li>
      <li>Ending: {% if data['dateTwo']%}{{data['dateTwo']}}{% else %}6 May{% endif %} 2020</li>
      <li>Ending: {% if data['dateThree']%}{{data['dateThree']}}{% else %}13 May{% endif %} 2020</li>
      <li>Ending: {% if data['dateFour']%}{{data['dateFour']}}{% else %}20 May{% endif %} 2020</li>

      {% elseif data['payFrequency'] === 'fortnightly' %}

      <li>Ending: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020</li>
      <li>Ending: {% if data['dateTwo']%}{{data['dateTwo']}}{% else %}13 May{% endif %} 2020</li>
      <li>Ending: {% if data['dateThree']%}{{data['dateThree']}}{% else %}27 May{% endif %} 2020</li>

      {% elseif data['payFrequency'] === '4Weekly' %}

      <li>Ending: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020</li>
      <li>Ending: {% if data['dateTwo']%}{{data['dateTwo']}}{% else %}27 May{% endif %} 2020</li>

    {% else %}

      <li>Ending: {% if data['pastOneMonthTitle']%}{{data['payPeriodOneStartDay']}} {{data['pastOneMonthTitle']}}{% else %}30 April{% endif %} 2020</li>
      <li>Ending: {% if data['pastTwoMonthTitle']%}{{data['payPeriodTwoStartDay']}} {{data['pastTwoMonthTitle']}}{% else %}30 May{% endif %} 2020</li>


    {% endif %}




    </ul>


    {% include "includes/pay-period.html" %}

    <h2 class="govuk-heading-m g3">
     Are these pay periods correct for this claim?
    </h2>


    <form method="post" action="route-list-periods">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="discretionary-yes" name="listPeriods" type="radio" value="yes"> <label class="govuk-label govuk-radios__label" for="discretionary-yes">Yes </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="discretionary-no" name="listPeriods" type="radio" value="no"> <label class="govuk-label govuk-radios__label" for="discretionary-no">No, I need to enter them again </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        continue
      </button>

    </form>
    {% include "includes/web-chat.html" %}


  </div>
</div>

{% endblock %}
