{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      <!--Does this employee get any additional payments?-->
      Are these pay periods correct?
    </h1>



    <p>These are all the pay periods wholly or partly in your claim
    ({% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 March{% endif %} 2020 to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %} 2020).</p>

    <ul class="govuk-list govuk-list--bullet">
      {% if data['payFrequency'] === 'monthly' %}

      {% if data['dateOne']%}
      <li>From {{data['dateOneStart']}} to {{data['payPeriodTwoTitle']}} 2020</li>
      {% endif %}
      {% if data['payPeriodThreeTitle']%}
      <li>From {{data['payPeriodThreeTitleStart']}} to {{data['payPeriodThreeTitle']}} 2020</li>
      {% endif %}
      <!--<li>Ending: {% if data['pastOneMonthTitle']%}{{data['payPeriodOneStartDay']}} {{data['pastOneMonthTitle']}}{% else %}30 April{% endif %} 2020</li>
      <li>Ending: {% if data['pastTwoMonthTitle']%}{{data['payPeriodTwoStartDay']}} {{data['pastTwoMonthTitle']}}{% else %}30 May{% endif %} 2020</li>-->

    {% else %}
<!--      <li>Ending: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020</li>-->
      {% if data['dateTwo']%}
      <li>From {{data['dateTwoStart']}} to {{data['dateTwo']}} 2020</li>
      {% else %}
      <li>From 20 April to 13 May 2020</li>
      {% endif %}
      {% if data['dateThree']%}
      <li>From {{data['dateThreeStart']}} to {{data['dateThree']}} 2020</li>
      {% endif %}
      {% if data['dateFour']%}
      <li>From {{data['dateFourStart']}} to {{data['dateFour']}} 2020</li>
      {% endif %}
      {% if data['dateFive']%}
      <li>From {{data['dateFiveStart']}} to {{data['dateFive']}} 2020</li>
      {% endif %}
      {% if data['dateSix']%}
      <li>From {{data['dateSixStart']}} to {{data['dateSix']}} 2020</li>
      {% endif %}

      {% endif %}






    </ul>

    <p>We cannot calculate furlough pay if this employee has irregular pay periods. </p>
<!--    {% include "includes/pay-period.html" %}-->




    <form method="post" action="route-list-periods">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="discretionary-yes" name="listPeriods" type="radio" value="yes"> <label class="govuk-label govuk-radios__label" for="discretionary-yes">Yes </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="discretionary-no" name="listPeriods" type="radio" value="no"> <label class="govuk-label govuk-radios__label" for="discretionary-no">No - change details </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        continue
      </button>

    </form>
    {% include "includes/web-chat.html" %}


  </div>
</div>

{% endblock %}
