{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            When did you top up this employee's pay?

        </h1>


        <p><span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span></p>

        <form method="post" action="route-pay-period-select">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    {% if data['payFrequency'] === 'fortnightly'  %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['dateTwo']%}{{data['dateTwo']}}{% else %}13 May{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['dateThree']%}{{data['dateThree']}}{% else %}27 May{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                    </div>
                    {% elseif data['payFrequency'] === 'weekly'  %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['dateOne']%}{{data['dateOne']}}{% else %}30 April{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['dateTwo']%}{{data['dateTwo']}}{% else %}6 May{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['dateThree']%}{{data['dateThree']}}{% else %}13 May{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['dateFour']%}{{data['dateFour']}}{% else %}20 May{% endif %} 2020
                                <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £550.00 {% endif %}</span>
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="periodOne">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {% if data['pastOneMonthTitle']%}{{data['payPeriodOneStartDay']}} {{data['pastOneMonthTitle']}}{% else %}30 April{% endif %} 2020 <br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough'] %} £{{data['salaryFurlough']}}.00 {% else %} £851.00 {% endif %}</span>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="periodSelect" type="checkbox" value="periodTwo">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Pay period end: {% if data['pastTwoMonthTitle']%}{{data['payPeriodOneStartDay']}} {{data['pastTwoMonthTitle']}}{% else %}30 May{% endif %} 2020<br>
                                <span class="govuk-hint">Amount before top-up: {% if data['salaryFurlough2'] %} £{{data['salaryFurlough2']}}.00 {% else %} £851.00 {% endif %}</span>
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
            </div>

            <button type="submit" class="govuk-button">
                Continue
            </button>

        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
