
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="route-part-time-hours">


        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">

              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">


                What hours did this employee actually work
                {% if data['periodTitle']%}
                {{data['periodTitle']}} 2020?
                {% else %}
                between 15 July and 22 July 2020?
                {% endif %}

              </h1>






            <div class="govuk-form-group">
              <label class="govuk-label" for="partTimeHours">
                Hours
              </label>
              <p class="govuk-hint">Enter hours in decimal format</p>

              <input class="govuk-input govuk-input--width-5" id="partTimeHours" name="partTimeHours" type="text">
            </div>




          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          Continue
        </button>


      </form>





    </div>
</div>

{% endblock %}
