
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="route-normal-hours">


        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">

              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">

                How long would this employee normally work in the pay period ending
                {% if data['periodTitle']%}
                {{data['periodTitle']}} 2020?
                {% else %}
                30 May 2020?

                {% endif %}

              </h1>


            <p class="govuk-hint">For example, 15 hours 30 minutes</p>



            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-visually-hidden"> What’s the last day this employee was paid for before {% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 April{% endif %} 2020?</legend>

            <label class="govuk-label" for="payPeriod"></label>
           <!-- <span id="claimPeriodStart-hint" class="govuk-hint">
                For example, 28 2 2020
              </span>-->


            <div class="govuk-date-input" id="payPeriod">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="payPeriodOneStartDay">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payPeriodOneStartDay" name="normalHours" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="payPeriodOneStartMonth">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payPeriodOneStartMonth" name="normalMinutes" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>

            </div>




          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          Continue
        </button>


      </form>





    </div>
</div>

{% endblock %}
