{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            When did this employee work part-time?

        </h1>


        <p><span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span></p>

        <form method="post" action="route-parttime-period-select">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes">
                        {% if data.periodList.length %}
                        {% for periodDate in data.periodList %}
                        <!--                    <li>From {{ periodDate.periodStart }} to {{ periodDate.periodEnd }} 2020</li>-->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="period-{{loop.index0}}">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: {{ periodDate.periodEnd }} 2020 <br>

                            </label>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="period-0">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: 30 May 2020 <br>

                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="periodSelect" type="checkbox" value="period-1">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Pay period end: 30 June 2020 <br>

                            </label>
                        </div>
                        {% endif %}
                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button">
                Continue
            </button>

        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
