
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="route-normal-hours">


        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">

              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">

                What would this employee’s usual hours have been
                {% if data['periodTitle']%}
                {{data['periodTitle']}} 2020?
                {% else %}
                between 23 July and 30 July 2020?


                {% endif %}

              </h1>


            <p class="govuk-hint">For example, 37.5 hours</p>

            <label class="govuk-label" for="payPeriod"></label>
           <!-- <span id="claimPeriodStart-hint" class="govuk-hint">
                For example, 28 2 2020
              </span>-->


            <!--<div class="govuk-date-input" id="payPeriod">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="normalHours">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-2" id="normalHours" name="normalHours" type="text" pattern="" inputmode="numeric">
                </div>
              </div>
            </div>-->
            <div class="govuk-form-group">
              <label class="govuk-label" for="normalHours">
                Hours
              </label>
              <input class="govuk-input govuk-input--width-5" id="normalHours" name="normalHours" type="text">
            </div>




          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          Continue
        </button>


      </form>





    </div>
</div>

{% endblock %}
