{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <h1 class="govuk-panel__body govuk-!-margin-bottom-4 govuk-!-margin-top-0 govuk-!-font-size-27">
                What you can claim for this employee
            </h1>
            <div class="govuk-panel__title">
                {% if data['totalFurlough'] %}
                £{{data['totalFurlough']}}.00
                {% else %}
                £1152.00
                {% endif %}
                <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4" style="color: white">Amount paid to this furloughed employee
                </p>
                <!--<p class=" govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-bottom-4" style="color: white">(not including National Insurance contributions and auto-enrolment pension costs)</p>-->
                {% if data['totalFurlough'] %}
                £{{data['totalNic']}}.22
                {% else %}
                £120.22
                {% endif %}

                <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4" style="color: white">Employer National Insurance contributions</p>
                {% if data['totalFurlough'] %}
                £{{data['totalPension']}}.38
                {% else %}
                £27.38
                {% endif %}

                <br>
                <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-0" style="color: white">Employer minimum pension contributions</p>
            </div>
        </div>

        <h2 class="govuk-heading-m">
            How these figures were calculated
        </h2>
        <p><span class="govuk-!-font-weight-bold">Calculated on:</span> 20 April 2020 (Calculator Version v1.0) </p>
        <p>The results of the calculation rely on the accuracy of the information you entered, for which you are responsible. You cannot claim for more money than you are going to pay out under the scheme. These calculations were based on:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Claim period: {% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 March{% endif %} 2020 to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %} 2020</li>
            <li>They
                {% if data['furloughPeriod'] %}
                {{data['furloughPeriod']| default('have been furloughed for the whole of the claim period')}}
                {% elseif data['furloughStartTitle'] %}
                began their furlough on {{data['furloughStartTitle']}}
                {% elseif data['furloughEndTitle'] %}
                ended their furlough on {{data['furloughEndTitle']}}
                {% elseif data['furloughPartialStartTitle'] %}
                were furloughed from {{data['furloughPartialStartTitle']}} until {{data['furloughPartialEndTitle']}}
                {% else %}
                have been furloughed for the whole of the claim period
                {% endif %}
            </li>
            <li>They are paid {{data['payFrequency'] | default('monthly')}}</li>

            {% if data['payVary']  %}
            <li>They are paid different amounts each time</li>
            {% endif %}
            <!--{% if data['employeeStartTitle']  %}
                <li>They have been employed since {{data['employeeStartTitle'] }}</li>
            {% endif %}
            -->
            <li>Their National Insurance category is {{data['nicCategoryVal'] | default('A, B, C or J')}}</li>
            <li>They {{data['pensionStatus'] | default('receive employer pension contributions')}}</li>
            <li>The employee's first payday after in the current tax year was {{data['payTaxDateTitle'] | default('10 April')}} 2020</li>
        </ul>

        <h2 class="govuk-heading-m">
            Breakdown by pay period
        </h2>
        <p>You can view a table showing the furlough amounts, employer National Insurance and pension contributions for each pay period in your claim.</p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                    Figures for each pay period during the claim
                 </span>
            </summary>
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">
                    Pay period ending {{data['payPeriodTwoTitle'] | default('30 March')}} 2020
                </h3>

                <p> Gross furlough amount
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodOneFurloughSalary'] %}
                                £{{data['payPeriodOneFurloughSalary']}}.00
                            {% else %}
                                £851.00
                            {% endif %}
                    </span>
                </p>

                <p>Employer NI contributions
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodOneNic'] %}
                                £{{data['payPeriodOneNic']}}.11
                            {% else %}
                                £70.11
                            {% endif %}
                    </span>
                </p>
                <p> Employer minimum pension contributions
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodOnePension'] %}
                                £{{data['payPeriodOnePension']}}.11
                            {% else %}
                                £18.19
                            {% endif %}
                    </span>
                </p>


                <h3 class="govuk-heading-s">
                    Pay period ending {{data['payPeriodThreeTitle'] | default('30 April')}} 2020
                </h3>
                <p> Gross furlough amount
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodTwoFurloughSalary'] %}
                                £{{data['payPeriodTwoFurloughSalary']}}.00
                            {% else %}
                                £301.00
                            {% endif %}
                    </span>
                </p>

                <p>Employer NI contributions
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodTwoNic'] %}
                                £{{data['payPeriodTwoNic']}}.11
                            {% else %}
                                £50.11
                            {% endif %}
                    </span>
                </p>
                <p> Employer minimum pension contributions
                    <br>
                    <span class="govuk-!-font-weight-bold">
                             {% if data['payPeriodTwoPension'] %}
                                £{{data['payPeriodTwoPension']}}.11
                            {% else %}
                                £9.19
                            {% endif %}
                    </span>
                </p>
            </div>
        </details>

        <h2 class="govuk-heading-m">
            Next steps
        </h2>

        <ul class="govuk-list govuk-list--number">

            <li>Make a calculation for any other employee furloughed for all or part of this claim period ({% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 March{% endif %} to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %}). <span class="govuk-!-font-weight-bold">Make a note of each set of figures.</span>
            </li>
            <li>Work out the total amounts to claim for:<br>
                <ul class="govuk-list--list">
                    <li>furlough amount</li>
                    <li>employer National Insurance</li>
                    <li>employer minimum pension contributions</li>
                    
                </ul></li>
            <li>Adjust the total amount of employer National Insurance contributions by subtracting any Employment Allowance used in each pay period.<br> <a href="https://www.gov.uk/guidance/work-out-80-of-your-employees-wages-to-claim-through-the-coronavirus-job-retention-scheme#work-out-how-much-you-can-claim-for-employer-national-insurance-contributions" target="_blank">Work out how much you can claim in total for employer National Insurance contributions (opens in a new tab or window)</a></li>
            <li>Make a claim using <a href="https://www.gov.uk/guidance/claim-for-wages-through-the-coronavirus-job-retention-scheme" target="_blank">Job Retention Scheme online claim service (opens in a new tab or window)</a>.</li>

        </ul>

        <br>



        <form class="form" method="post" action="reset">
            <button class="govuk-button"  data-module="govuk-button">
                Start another calculation
            </button>
        </form>
        <p>
            <a href="https://www.tax.service.gov.uk/ask-hmrc/webchat/job-retention-scheme" target="_blank">Webchat help (opens in a new tab or window)</a>
        </p>
    </div>
</div>

{% endblock %}