
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-furlough-question" method="post">
      {{ govukRadios({
      idPrefix: "furloughQuestion",
      name: "furloughQuestion",
      fieldset: {
        legend: {
          text: "Has the employee been furloughed for the whole claim period?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
        hint: {
        text: ""
        },
      items: [
        {
        value: "yes",
        text: "Yes"
        },
        {
        value: "no",
        text: "No"
        }
      ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>


    </div>
</div>

{% endblock %}
