
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-salary-question" method="post">
      {{ govukRadios({
      idPrefix: "salaryQuestion",
      name: "salaryQuestion",
      fieldset: {
        legend: {
          text: "How is the employee paid?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
        hint: {
        text: ""
        },
      items: [
        {
        value: "salary",
        text: "by salary"
        },
        {
        value: "other",
        text: "other"
        }
        ,
        {
        value: "other",
        text: "other"
        }
      ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>


    </div>
</div>

{% endblock %}
