
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-topup" method="post">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                      What did you pay the employee in the pay period ending {% if data['payPeriodTwoTitle']%}{{data['payPeriodTwoTitle']}}{% else %}30 March{% endif %} 2020?
                  </h1>
              </legend>

              <p>This is the total you paid the employee including their furlough pay.</p>

              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                      <div class="govuk-currency-input__inner govuk-form-group">

                          <span class="govuk-currency-input__inner__unit">£</span>
                          <input type="text" class="govuk-currency-input__inner__input govuk-input govuk-input--width-10" id="discretionaryPay" value=""  name="topupAmount" >
                      </div>


                  </fieldset>
              </div>


        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
          </fieldset>
      </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
