
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-employed-length-question" method="post">


        <fieldset class="govuk-fieldset" aria-describedby="furloughQuestion-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

            <h1 class="govuk-fieldset__heading">
              Was this employee working for you on or before 1 February 2019?
            </h1>

          </legend>

          <p>
              This is needed to calculate average pay based on when the employee started work.
          </p>
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="furloughQuestion" name="employLength" type="radio" value="moreThan12">
              <label class="govuk-label govuk-radios__label" for="furloughQuestion">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="furloughQuestion-2" name="employLength" type="radio" value="lessThan12">
              <label class="govuk-label govuk-radios__label" for="furloughQuestion-2">
                No
              </label>
            </div>
<br><br>

          </div>
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
