
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                    <h1  class="govuk-heading-xl">
                        Your calculation has been reset
                    </h1>

        <p>You’ll need to start this calculation again</p>
       <!-- <h2 class="govuk-heading-m">Why did this happen?</h2>
        <p>Dates from your last calculation were lost when you used the browser ‘back’ button</p>-->

        <form class="form" method="post" action="claim-period-start">
            <button class="govuk-button" data-module="govuk-button">
                Start calculation again
            </button>
        </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
