
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="route-pay-dates-3">


        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is this employee’s next pay day?
              </h1>
            </legend>
            <p>
              Claim period:
              {% if data['claimPeriodStartDay']%}
              {{data['claimStart']}} to {{data['claimEnd']}}
              {% else %}
              09/03/2020 to 17/04/2020
              {% endif %}
            </p>

            <label class="govuk-label" for="payPeriod"></label>
            <span id="claimPeriodStart-hint" class="govuk-hint">
                For example, 30 4 2020
              </span>


            <div class="govuk-date-input" id="payPeriod">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="payPeriodThreeStartDay">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payPeriodThreeStartDay" name="payPeriodThreeStartDay" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="payPeriodThreeStartMonth">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payPeriodThreeStartMonth" name="payPeriodThreeStartMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="payPeriodThreeStartYear">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="payPeriodThreeStartYear" name="payPeriodThreeStartYear" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>




          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          Continue
        </button>


      </form>


    </div>
</div>

{% endblock %}
