
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="route-furlough-dates-end">


        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
               When did their furlough end<!--before {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %}-->?
              </h1>
            </legend>

            <div class="govuk-inset-text">
              To claim under the scheme an employee must be furloughed for at least 3 weeks. If it’s less than this by {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %}, you can make a separate claim to cover any remaining furlough period. </div>


              <label class="govuk-label" for="payPeriod"></label>
            <span id="claimPeriodStart-hint" class="govuk-hint">
                For example, 30 4 2020
              </span>
              <div class="govuk-date-input" id="payPeriod">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="furloughEndDay"> Day </label> <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="furloughEndDay" name="furloughEndDay" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="furloughEndMonth"> Month </label> <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="furloughEndMonth" name="furloughEndMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="furloughEndYear"> Year </label> <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="furloughEndYear" name="furloughEndYear" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>








          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          Continue
        </button>


      </form>


    </div>
</div>

{% endblock %}
