
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Employee pay dates</h1>




     <!-- <h2 class="govuk-heading-m">Pay dates</h2>-->
      <table class="govuk-table review-authorisations">

        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            <span class="govuk-!-font-weight-bold">Last pay date before claim period started</span>
          </td>
          <td class="govuk-table__cell">
            {% if data['payPeriodOneStartDay']%}{{data['payPeriodOne']}} {% else %}28/02/2020{% endif %}
          </td>
        </tr>
        {% if data["payPeriodTwo"]  %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-!-font-weight-bold">Next pay date</span>
          </td>
          <td class="govuk-table__cell">
             {{data['payPeriodTwo'] | default('30/04/2020')}}
          </td>
        </tr>
        {% endif %}
        {% if data["payPeriodThree"]  %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-!-font-weight-bold">Next pay date</span>
          </td>
          <td class="govuk-table__cell">
           {{data['payPeriodThree'] | default('30/05/2020')}}
          </td>
        </tr>
        {% endif %}

        </tbody>
      </table>

      <form method="post" action="another-pay-date">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h2 class="govuk-heading-m">
                Are there any other pay dates during or just after the claim period ({% if data['claimPeriodStartDay']%}{{data['claimStart']}} to {{data['claimEnd']}}{% else %}09/03/2020 to 17/04/2020{% endif %})?

              </h2>
            </legend>

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="anotherDate-yes" name="anotherDate" type="radio" value="yes"> <label class="govuk-label govuk-radios__label" for="anotherDate-yes"> Yes </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="anotherDate-no" name="anotherDate" type="radio" value="no"> <label class="govuk-label govuk-radios__label" for="anotherDate-no"> No </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>


    </div>
</div>

{% endblock %}
