
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-pension" method="post">
      {{ govukRadios({
      idPrefix: "pension",
      name: "pension",
      fieldset: {
      legend: {
      text: "Has this employee opted out of your workplace pension auto-enrolment? ",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
      }
      },
      items: [
        {
        value: "yes",
        text: "Yes"
        },
        {
        value: "no",
        text: "No"
        }
      ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
        {% include "includes/web-chat.html" %}


    </div>
</div>

{% endblock %}
