
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-variable-gross-salary" method="post">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="accountingPeriod-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                      <!--Enter the employee’s  salary on 28.02.20-->

                      What is the total gross pay since they started?
                  </h1>
              </legend>

              <span id="nicCategory-hint" class="govuk-hint">
<p>This is the total gross amount before deductions the employee has been paid from {{data['employeeStartTitle'] | default('11 November')}} up to the earlier of:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>5th April 2020 or</li>
    <li>the day prior to them being furloughed</li>
</ul>



  </span>
          <label class="govuk-label" for="amount">
              Enter an amount
          </label>

          <!--<span id="width-10-hint" class="govuk-hint">
    hint
  </span>-->
        <div class="govuk-currency-input__inner govuk-form-group">

        <span class="govuk-currency-input__inner__unit">£</span>
        <input type="text" class="govuk-currency-input__inner__input govuk-input govuk-input--width-10" id="variableGrossSalary" value=""  name="variableGrossSalary" >
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
          </fieldset>
      </form>


    </div>
</div>

{% endblock %}
