{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <div class="govuk-panel__body govuk-!-margin-bottom-4 govuk-!-font-size-24">
                For this employee you can claim:
            </div>
            <h1 class="govuk-panel__title govuk-!-font-size-36">

                £{{data['totalFurlough'] | default('1152')}}.44 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['totalNic'] | default('120')}}.22 <span class="govuk-!-font-weight-regular">- Employer's NI</span> <br> £{{data['totalPension'] | default('27')}}.38 <span class="govuk-!-font-weight-regular">- Pension contribution</span>
            </h1>
        </div>
        <h2 class="govuk-heading-m">
            Next steps
        </h2>

        <ul class="govuk-list govuk-list--number">
            
            <li>Make a note of 3 figures above. <!--You’ll need them when you make a claim.--></li>
            
            <li>Run the calculator again for any other employees that are furloughed for all or part of the claim period ({% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 March{% endif %} to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %}).</li>
            <li>Use the combined totals for furloughed pay, employer's NI contribution and pension contribution for your claim.</li>

        </ul>

        <p><a href="https://www.gov.uk/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme" target="_blank">Job Retention Scheme online claim form</a></p>



        <h2 class="govuk-heading-m">
            How these figures were calculated
        </h2>
        <p>The calculations were based on the information you entered: </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Claim period from {% if data['payClaimPeriodTitle']%}{{data['payClaimPeriodTitle']}}{% else %}9 March{% endif %} to {% if data['payClaimPeriodEndTitle']%}{{data['payClaimPeriodEndTitle']}}{% else %}17 April{% endif %}</li>


            <li>They have {{data['furloughPeriod']| default('have been furloughed for the whole of the claim period')}}</li>
            <li>They are paid {{data['payFrequency'] | default('monthly')}}</li>
            <li>Their National Insurance category is {{data['nicCategoryVal'] | default('A, B, C or J')}}</li>
            <li>They have {{data['pensionStatus'] | default('opted into pension auto-enrolment')}}</li>
            <li>The employee's first payday after 6 April was {{data['payTaxDateTitle'] | default('10 April')}}</li>

        </ul>


          
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                    Breakdown of the figures for each pay period during the claim
                 </span>
            </summary>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pay period
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Up to {{data['payPeriodTwo'] | default('30/03/2020')}}<br><br> £{{data['payPeriodOneFurloughSalary'] | default('250')}}.22 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['payPeriodOneNic'] | default('120')}}.11 <span class="govuk-!-font-weight-regular">- Employer's NI</span> <br> £{{data['payPeriodOnePension'] | default('27')}}.19
                        <span class="govuk-!-font-weight-regular">- Pension contribution</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pay period
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Up to {{data['payPeriodThree'] | default('30/04/2020')}}<br><br> £{{data['payPeriodTwoFurloughSalary'] | default('250')}}.22 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['payPeriodTwoNic'] | default('120')}}.11 <span class="govuk-!-font-weight-regular">- Employer's NI</span> <br> £{{data['payPeriodTwoPension'] | default('27')}}.19
                        <span class="govuk-!-font-weight-regular">- Pension contribution</span>
                    </dd>
                </div>
            </dl>
        </details>



        <form class="form" method="post" action="reset">
            <button class="govuk-button"  data-module="govuk-button">
                Start another calculation
            </button>
        </form>
    </div>
</div>

{% endblock %}