{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <div class="govuk-panel__body govuk-!-margin-bottom-4 govuk-!-font-size-24">
                For this employee you can claim:
            </div>
            <h1 class="govuk-panel__title govuk-!-font-size-36">

                £{{data['totalFurlough'] | default('1152')}}.44 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['totalNic'] | default('120')}}.22 <span class="govuk-!-font-weight-regular">- Employer NIC</span> <br> £{{data['totalPension'] | default('27')}}.38 <span class="govuk-!-font-weight-regular">- Pension contribution</span>
            </h1>
        </div>
        <h2 class="govuk-heading-m">
            How these figures are calculated
        </h2>
        <p>These calculations we made on the employees information you entered below: </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Claim period from {% if data['claimPeriodStartDay']%} {{data['claimStart'] | default('30/03/2020')}} to {{data['claimEnd'] | default('30/04/2020')}} {% else %} 12/03/2020 to 05/05/2020 {% endif %}</li>
            <li>They have {{data['furloughPeriod']| default('have been furloughed for the whole of the claim period')}}</li>
            <li>They are paid {{data['payFrequency'] | default('monthly')}}</li>
            <li>Their NIC category is {{data['nicCategoryVal'] | default('A, B, C, J')}}</li>
            <li>They have {{data['pensionStatus'] | default('opted into pension auto-enrolment')}}</li>
            <li>{{data['payTaxDate'] | default('10/04/2020')}}</li>
        </ul>


          
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                    Breakdown of the figures for each pay date
                 </span>
            </summary>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Breakdown by pay date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Up to {{data['payPeriodTwo'] | default('30/03/2020')}}<br><br> £{{data['payPeriodOneFurloughSalary'] | default('250')}}.22 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['payPeriodOneNic'] | default('120')}}.11 <span class="govuk-!-font-weight-regular">- Employer NIC</span> <br> £{{data['payPeriodOnePension'] | default('27')}}.19
                        <span class="govuk-!-font-weight-regular">- Pension contribution</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Breakdown by pay date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Up to {{data['payPeriodThree'] | default('30/04/2020')}}<br><br> £{{data['payPeriodTwoFurloughSalary'] | default('250')}}.22 <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br> £{{data['payPeriodTwoNic'] | default('120')}}.11 <span class="govuk-!-font-weight-regular">- Employer NIC</span> <br> £{{data['payPeriodTwoPension'] | default('27')}}.19
                        <span class="govuk-!-font-weight-regular">- Pension contribution</span>
                    </dd>
                </div>
            </dl>
        </details>

        <h2 class="govuk-heading-m">
            Next steps
        </h2>
        <p>These figures are for a single employee.  To fill in you JRS claim you will needs a total for all your employees you are claiming for.</p>

        <form class="form" method="post" action="reset">
            <button class="govuk-link" style="color: #1d70b8; padding: 0; border: 0; text-decoration: underline; font-size: 19px" data-module="govuk-button">
                Start calculation again
            </button>
        </form>
    </div>
</div>

{% endblock %}