
{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="route-pay-question" method="post">
      {{ govukRadios({
      idPrefix: "payQuestion",
      name: "payQuestion",
      fieldset: {
        legend: {
          text: "How is this employee paid?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
        hint: {
        text: ""
        },
      items: [

        {
        value: "payVariable",
        text: "A variable amount each time"
        },
        {
        value: "payRegular",
        text: "A regular amount each time"
        }

      ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>


    </div>
</div>

{% endblock %}
