{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            JRS Calculator</h1>
        <p>
            Prototype of the calculator to support the JRS scheme
        </p>
        <p><a href="v1-7/start.html" class="govuk-!-font-weight-bold">Version 1.7</a>  <span class="govuk-!-font-weight-bold"></span></p>

        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Persist the dates for the second journey</li>
                        <li>Predict dates for all but monthly pay periods</li>
                        <li>Display pay periods page </li>
                        <li>Print CSS </li>
                        <li>Display calculations (<a href="v1-7/confirmation-cylb-weekly.html">Variable Weekly CYLB</a>)</li>
                        <li>Display calculations (<a href="v1-7/confirmation-cylb-monthly.html">Variable Monthly CYLB</a>)</li>
                        <li>Display calculations (<a href="v1-7/confirmation-average.html">Variable Average</a>)</li>
                        <li>Display calculations (<a href="v1-7/confirmation-regular.html">Regular</a>)</li>

<!--                        <li>Display calculations (<a href="v1-7/confirmation-monthly-reg.html">Monthly regular pay</a>)</li>-->

                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Variable pay</li>
                        <li>Fixed pay </li>
                        <li>Additional pay journey</li>
                        <li>Top up pay journey</li>
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee's pay is variable or constant</li>
                        <li>The employee has been furloughed for the whole or part of claim period</li>
                    </ul></td>
            </tr>
        </table>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-6/start.html" class="govuk-!-font-weight-bold">Version 1.6</a> - <span class="govuk-!-font-weight-bold">Release 3</span></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Matched URLs to live service</li>
                        <li>Added a 'use same claim period' screen when restarting the journey</li>
<!--                        <li>Simpler date journey now for anything other than monthly</li>-->
                        <li>Partial pay period question doesn't show now if claim matches furlough</li>
                        <li>All journeys now consistent in order (dates, then salary, then topup, then additional)</li>
                        <li>Top up preceeds discretionary pay journey</li>
                        <li>Additional pay journey</li>
                        <li>Additional pay on start page warning</li>
                        <li>NIC warning text</li>
                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Variable pay</li>
                        <li>Fixed pay </li>
                        <li>Additional pay journey</li>
                        <li>Top up pay journey</li>
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee's pay is variable or constant</li>
                        <li>The employee has been furloughed for the whole or part of claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-5/start.html" class="govuk-!-font-weight-bold">Version 1.5</a> - <span class="govuk-!-font-weight-bold">For release two -  22/04/2020</span></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>New top up screens</li>
                        <li>Text changes on NIC</li>
                        <li>Look back journey now asks for date</li>
                        <li>Includes top up journey at the end</li>
                        <li>Ask how much employee is paid in part pay period if there is one in the claim</li>


                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">

                        <li>Variable pay / look back journey is possible</li>
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee's pay is variable or constant</li>
                        <li>The employee has been furloughed for the whole or part of claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-4-5/start.html" class="govuk-!-font-weight-bold">Version 1.4.5</a> - <span class="govuk-!-font-weight-bold">For release one -  20/04/2020</span></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Block variable journey</li>
                        <li>Now asking for a pay date during the last pay period we ask for</li>
                        <li>Includes top up page but 'coming soon' if 'yes'</li>
                        <li>Added 'coming soon' pages in CYLB journey</li>
                        <li>Ask how much employee is paid in part pay period if there is one in the claim</li>
                        <li>NIC warning text on confirmation page</li>
                        <li>Webchat link on confirmation page</li>


                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Variable pay less than 12 months</li>
                        <li>Fixed pay </li>
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee's pay is variable or constant</li>
                        <li>The employee has been furloughed for the whole or part of claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-4/start.html" class="govuk-!-font-weight-bold">Version 1.4</a></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Ask for furlough start date every time</li>
                        <li>Variable pay / look back journey</li>
                        <li>Different layout to green box</li>
                        <li>More dynamic calculation on the variable pay journey</li>
                        <li>Added back buttons</li>
                        <li>Webchat link on confirmation page</li>


                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Variable pay / look back journey is possible</li>
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee's pay is variable or constant</li>
                        <li>The employee has been furloughed for the whole or part of claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-3/start.html" class="govuk-!-font-weight-bold">Version 1.3</a></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Added variable/less than 12 month employed journey</li>
                        <li>Total can't exceed £2500 per pay period</li>
                        <li>Changed order of frequency and regular/varialbe amount</li>
                        <li>Added date capture at the end of the journey if the pay period spans the tax year</li>
                        <li>Added NIC category info</li>
                        <li>Separated the claim start and end date to two screens</li>
                        <li>Simplified the furlough question and moved it in the order</li>
                        <li>Continue to ask for pay dates until you get to the one after the end of the claim date</li>

                    </ul></td>
                <td valign="top"> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>A calculation for the whole claim period or part of claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee is either payed the same or varies</li>
                        <li>The employee has been furloughed for the whole claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-2/start.html" class="govuk-!-font-weight-bold">Version 1.2</a></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
        <table>
            <tr>
                <td class="govuk-!-width-one-half" valign="top"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Added start page for testing</li>
                        <li>Content changes on pay dates screen</li>
                        <li>Added display of overlapping days confirmation</li>
                    </ul></td>
                <td> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>A calculation for the whole claim period</li>
                        <li>The claim period covers transition of tax years</li>
                        <li>The employee is payed the same each time</li>
                        <li>The employee has been furloughed for the whole claim period</li>
                    </ul></td>
            </tr>
        </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1-1/claim-period.html" class="govuk-!-font-weight-bold">Version 1.1</a></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">
                Details
                 </span>
            </summary>
            <table>
                <tr>
                    <td class="govuk-!-width-one-half"> <p class="govuk-!-font-weight-bold">Changes since previous version:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Added dynamic calculations</li>
                        <li>Moved order of frequency question</li>
                        <li>Added furlough period question</li>
                        <li>Added payment dates 'add to list' pattern</li>
                    </ul></td>
                    <td> <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>A calculation for the whole claim period</li>
                            <li>The claim period covers transition of tax years</li>
                            <li>The employee is salaried</li>
                            <li>The employee has been furloughed for the whole claim period</li>
                        </ul></td>
                </tr>
            </table>
        </details>
        <hr class="govuk-!-margin-bottom-5">
        <p><a href="v1/claim-period.html" class="govuk-!-font-weight-bold">Version 1</a></p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Details
                 </span>
            </summary>
            <p class="govuk-!-font-weight-bold">Assumptions for the flow:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>A calculation for the whole claim period</li>
                <li>The claim period covers transition of tax years</li>
                <li>The employee is salaried</li>
                <li>The employee has been furloughed for the whole claim period</li>
            </ul>
        </details>


    </div>
</div>

{% endblock %}
