{% extends "layout.html" %}

{% block pageTitle %}
Job Retention Scheme Calculator
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            JRS Calculator</h1>
        <p>
            Prototype for the calculator to support the JRS scheme
        </p>

      <p><a href="v1-1/claim-period.html" class="govuk-!-font-weight-bold">Version 1.1</a>
        <br> Assumptions for the flow:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Replaced frquency of payment question with dates</li>
        <li>A calculation for the whole claim period</li>
        <li>The claim period covers transition of tax years</li>
        <li>The employee is salaried</li>
        <li>The employee has been furloughed for the whole claim period</li>
      </ul>
      <hr>
        <p><a href="v1/claim-period.html" class="govuk-!-font-weight-bold">Version 1</a>
          <br> Assumptions for the flow:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>A calculation for the whole claim period</li>
          <li>The claim period covers transition of tax years</li>
            <li>The employee is salaried</li>
          <li>The employee has been furloughed for the whole claim period</li>
        </ul>




    </div>
</div>

{% endblock %}
